.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #E4D6C8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 

  .logo img {
    height: 60px; /* Adjust height as needed */
    width: 100%; /* Maintain aspect ratio */
 
  }


  .search input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .spacer {
    flex: 1; /* Takes up remaining space */
  }
  
  .user-options a {
    text-decoration: none;
    color: #333;
    margin-right: 20px; /* Space between user options and basket icon */
  }
  
  .separator {
    margin: 0 10px;
  }
  
  .basket {
    font-size: 20px;
    color: #333;
    cursor: pointer; 
  }


  /* Responsive Styles */
@media screen and (max-width: 768px) {
    .logo img {
      height: 40px; /* Adjust logo height for smaller screens */
      max-width: 150px; /* Adjust maximum width of logo for smaller screens */
    }
  
    .search input {
      max-width: 300px; /* Adjust maximum width of search input for smaller screens */
    }
  
    .user-options {
      font-size: 14px; /* Adjust font size of user options for smaller screens */
    }
  }